@media only screen and (min-width: 768px) {
    /* -- orden en flexbox (despues modificar en pantallas mas grandes) */
    .menu-icon {
        display:none;
    }

    .menu-logo {
        order:1;
        text-align: center;
        flex-basis: 7%;
    }

    .menu-items {
        display:inline-block;
        flex-basis: 80%;
        order:2;
    }

    .carrito {
        order:3;
        text-align:right;
        flex-basis:7%;
    }

    /* -- fin orden */

    .menu-items {
        height:100%;
        border:none;
        text-align:center;
        padding: 0;
    }

    .menu-items > ul {
        text-align:left;
        display:flex;
        justify-content: space-evenly;
    }

    .menu-items ul li {
        font-size: 14px;
        border:none;
        display:inline-block;
    
    }

    
    .menu-logo {
        padding: 10px 0; /* Le da el tamaño a todo el nav*/
    }
  
    .separador-header {
        height: 66px;
    }

    .sub-menu .flecha {
        display:none;
    }


    
    .productos-flex {
        justify-content: space-between;
    }


}