@media only screen and (min-width: 768px) {
    /* -- orden en flexbox (despues modificar en pantallas mas grandes) */
    .menu-icon {
        display:none;
    }

    .menu-logo {
        order:1;
        text-align: center;
        flex-basis: 7%;
    }

    .menu-items {
        display:inline-block;
        flex-basis: 80%;
        order:2;
    }

    .carrito {
        order:3;
        text-align:right;
        flex-basis:7%;
    }

    /* -- fin orden */

    .menu-items {
        height:100%;
        border:none;
        text-align:center;
        padding: 0;
    }

    .menu-items > ul {
        text-align:left;
        display:flex;
        justify-content: space-evenly;
    }

    .menu-items ul li {
        font-size: 14px;
        border:none;
        display:inline-block;
    
    }

    
    .menu-logo {
        padding: 10px 0; /* Le da el tamaño a todo el nav*/
    }
  
    .separador-header {
        height: 66px;
    }

    .sub-menu .flecha {
        display:none;
    }


    
    .productos-flex {
        justify-content: space-between;
    }

    .creditos {
        padding-bottom:0;
    }
    .creditos > ul {
        flex-direction:row;
        align-items: flex-start;
    }

    .info-contacto {
        flex-basis: 100%;
        
    }

    .pais {
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }

    .pais p {
        margin:0;
        padding: 0;
        margin-left: 7px;
    }


    .contacto-footer {
        flex-grow: 1;
        margin-left: 20px;
    }

    /* - Orden de elementos en footer flex - */

    .info-contacto {
        order:1;
    }

    .contacto-footer {
        order: 3;
    }

    .pais {
        order:4;
    }

    .copyright {
        order:2;
    }

    .imagen-cat {
        flex-basis: 50%;
    }

    .imagen-cat img {
        height:500px;
    }

}