body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration:none;
    color: #0070c9;
}

a:hover {
    text-decoration: underline;
}


.cuerpo {
    height:500px;
}

/* --------------- CLASES EN COMUN (ver en js) --------------- */
.background {
    background: #000;
    transition: all;
    transition-duration: 0.3s;
}

.overflow{
    overflow: hidden;
}

/* --------------- HEADER  --------------- */

.container {
    max-width: 980px;
    margin: 0 auto;
}

header {
    background: rgba(45,45,45,0.98);
}



/* --------------- LOGO E ICONOS--------------- */

.logo {
    display: inline-block;
}

.logo svg {
    height:22px;

}

.logo:hover ,.carrito:hover {
    opacity:0.5;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.carrito svg {
    height:20px;
}

/* --------------- MENU  --------------- */

nav {
    max-width:100%;
    text-align: center;

}

.menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0 auto;
}

/* -- orden en flexbox (despues modificar en pantallas mas grandes) */
.menu-icon {
    order: 1;
    flex-basis:33%; /* se pone 33% para que solo haya 3 elementos y los menu-items aparezcan abajo */
    text-align: left;
}

.menu-logo {
    order:2;
    flex-basis:33%;
    text-align: center;
}

.menu-items {
    order:4;
    flex-basis: 100%;
    height: 100vh;
    display:none;/* Version mobil solo hace display a traves del js cuando se apreta el boton */
}

.carrito {
    order:3;
    flex-basis:33%;
    text-align:right;
}


/* -- fin orden */

.menu > li {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.menu > li a {
    text-decoration: none;
    color: #fff;
}

.menu-icon > div {
    padding: 17px;
}

.carrito > a {
    padding: 17px;
}

.menu-items {
    text-align:left;
    border-top:1.5px solid #282828;
    padding: 45px 40px 8px 40px; 
}

.menu-items ul li {
    font-size: 16px;
    border-bottom:1.5px solid #282828;
    padding:10px 0px;

}

.menu-items ul li:hover {
    opacity:0.5;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}


/* --------------- FOOTER  --------------- */

footer {
    background: #F2F2F2;
    color: #888;
    font-size: 12px;
}

footer p {
    padding:17px;
}

.info-footer {
    padding: 17px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.footer-nav {
    padding: 17px;
}

.columna-productos h3 {
    font-weight: 700;
    color: #333;
    margin-bottom:11px;
}

.columna-productos li {
    margin-bottom:9.6px;
}

.columna-productos li a {
    text-decoration: none;
    color: #888;
}

.creditos {
    border-top: 1px solid rgb(214, 214, 214);
}

.creditos ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
}


.creditos ul li:last-child {
    text-align:right;
    flex-grow:1;
}



.creditos img {
    height:16px;
    vertical-align: middle;
    border:1px solid rgb(214, 214, 214);
}

.creditos p {
    padding-top: 12px;
    display: inline-block;
}

.creditos li:last-child p {
    padding:0;
}


.contacto-footer li {
    border-right: 1px solid rgb(214, 214, 214);
    height: 15px;
    padding: 0 10px;
}

.contacto-footer a {
    color: #333;
}

.contacto-footer li:last-child {
    border-right: none;
}


